.not-displayed {
    display: none;
}

form {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

#zip-code-input {
    font-size: 22px;
}

#get-weather-btn {
    font-size: 22px;
}

#title {
    font-size: 14px;
}

#summary {
    font-size: 30px;
    text-align: left;
}

#description {
    text-align: left;
}

#weatherimg {
    float: right;
}

#timenow {
    text-align: center;
}

#error-msg {
    text-align: center;
    margin-top: 50%;
    font-weight: bold;
}
